[user]
	email = masamasa9841@gmail.com
	name = Masaya Okawa
[core]
	editor = vim
	autoCRLF = false
[push]
	default = matching
[alias]
	tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
[commit]
	template = ~/dotfiles/.git_commit_template
	verbose = true

